import tkinter
import customtkinter
import random

app = customtkinter.CTk()
app.title("Zgadnij Liczbę")
app.geometry("500x300")

# Losowanie liczby
random_number = random.randint(1, 100)

# Funkcja zgadywania
def guess():
    try:
        user_guess = int(entry.get())
        label_result.configure(text="")  # Resetowanie tekstu
        if user_guess < random_number:
            label_result.configure(text="Twoja liczba jest za mała!")
        elif user_guess > random_number:
            label_result.configure(text="Twoja liczba jest za duża!")
        else:
            label_result.configure(text="Gratulacje! Trafiłeś!")
    except ValueError:
        label_result.configure(text="Wprowadź poprawną liczbę")

# Nagłówek
label_header = customtkinter.CTkLabel(app, text="Zgadnij Liczbę", font=("Bold", 40))
label_header.pack(pady=30)

# Pole do wprowadzania liczby
entry = customtkinter.CTkEntry(app, placeholder_text="Wpisz liczbę między 1-100", width=170)
entry.pack()

# Przycisk
button = customtkinter.CTkButton(app, text="Potwierdź", command=guess)
button.pack(pady=20)

# Wynik
label_result = customtkinter.CTkLabel(app, text="", font=("Bold", 15))
label_result.pack(pady=20)

app.mainloop()
